<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Show</title>
  </head>
  <body>
    <h1><%= event.title %></h1>
    <h1><%= event.location %></h1>

    <p><a href="/events/<%=event._id%>/edit">Edit</a></p>
    <footer>
      <a href="/events">All events</a>
    </footer>
  </body>
</html>
