<% layout('layouts/boilerplate') %>
    <h1><%= event.title %></h1>
    <h1><%= event.location %></h1>

    <p><a href="/events/<%=event._id%>/edit">Edit</a></p>
    <p>
        <form action="/events/<%=event._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
      <a href="/events">All events</a>
    </footer>
