<nav class="navbar sticky-top navbar-expand-lg">

  <style>
    .navbar {
      background-color: rgb(8, 8, 8, 0.85);
    }
    .nav-link,
    .nav-link:hover,
    .nav-link:focus {
      color: white;
      border-bottom: 0.25rem solid transparent;
    }
    .nav-link:hover,
    .nav-link:focus {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }
    .navbar-brand,
    .navbar-brand:hover,
    .navbar-brand:focus {
      color: white;
    }
  </style>

  <div class="container-fluid">
    <a class="navbar-brand" href="#">Eventify</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/events">Events</a>
        <a class="nav-link" href="/events/new">Host an event</a>
      </div>
    </div>
    <div class="navbar-nav ml-auto">
      <% if(!currentUser) {%>
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/register">Sign up</a>
      <% } else {%>
      <a class="nav-link" href="#">Hello, <%= currentUser.username %></a>
      <a class="nav-link" href="/logout">Log out</a>
      <% } %>
    </div>
  </div>
</nav>
