<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="d-flex text-center text-white mt-5">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3 mt-5">
    <h1 class="anim">Eventify</h1>
    <p class="lead anim">Welcome to Eventify! <br> <strong>Where car enthusiasts meet, review and host events & meetings.</strong></p>
    <p class="lead anim">
      <a href="/events" class="btn btn-lg btn-secondary fw-bold border-white bg-white anim">Show me</a>
    </p>
  </main>
</div>
</div>