<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="d-flex text-center text-white mt-5">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3 mt-5">
    <h1 class="anim">Eventify</h1>
    <p class="lead anim">Welcome to Eventify! <br> <strong>Where car enthusiasts meet, review and host events & meetings.</strong></p>
    <p class="lead anim">
      <a href="/events" class="btn btn-lg btn-secondary fw-bold border-white bg-white anim">Show me</a>
    </p>
  </main>
</div>


    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
</div>