@media (max-width: 992px) {
  .row {
    display: block;
  }

  .col-6 {
    display: inline;
  }
}

@media (max-width: 1200px) {
  .img-thumbnail {
    width: 140px;
  }
}

@media (max-width: 576px){
 .img-thumbnail {
    width: 100px;
  }
}
